.formDadosEntrada {
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
    width: 320px;
    height: 90vh;
    margin-right: 5px;
}

.formDadosEntrada_prop, .formDadosEntrada_pressoes, .formDadosEntrada_motor {
    margin: 10px;
}

.label_prop {
    display: block;
    width: 140px;
}

.label_dados_entrada {
    display: inline-block;
    width: 189px;
}

.select_dados_entrada {
    width: 100%;
} 

.input_number {
    width: 75px;
    float: right;
}

.botao_calcular {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}