<div class="div_resultado">
    <div class="div_resultado_camara_combustao_bocal">
        <div class="div_titulo_resultado">
            <h1 class="titulo_resultado">Câmara de Combustão e Bocal</h1>
        </div>
        <div class="div_resultado_geometria">
            <img class="img_geometria" src="/static/img/geometria-1.png" alt="Geometria do Motor">
            <table class="tabela_resultado_geometria">
                <caption class="tabela_titulo_geometria">Geometria</caption>
                <tr>
                    <th>Medida 
                    </th>
                    <th>Valor</th>
                    <th>Und</th>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">L*
                        <span class="tooltiptext">Comprimento Característico</span>
                    </td>
                    <td>{{ resultado_l_estrela }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">V
                        <span class="tooltiptext">Volume Total da Câmara de Combustão e Bocal</span>
                    </td>
                    <td>{{ resultado_volume_total }}</td>
                    <td>[m³]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">LC
                        <span class="tooltiptext">Comprimento da Câmara de Combustão</span>
                    </td>
                    <td>{{ resultado_lc }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">LG
                        <span class="tooltiptext">Comprimento da parte Convergente da Garganta</span>
                    </td>
                    <td>{{ resultado_lg }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip"> 
                        {% if tipo_bocal == "conico"%}
                            L
                        {% endif %}
                        {% if tipo_bocal == "sino_60" %}
                            0.6L
                        {% endif %}
                        {% if tipo_bocal == "sino_80" %}
                            0.8L
                        {% endif %}
                        <span class="tooltiptext">Comprimento da Divergente do Bocal</span>
                    </td>
                    <td>
                        {% if tipo_bocal == "conico"%}
                            {{ resultado_l }}
                        {% endif %}
                        {% if tipo_bocal == "sino_60" %}
                            {{ resultado_l_60 }}
                        {% endif %}
                        {% if tipo_bocal == "sino_80" %}
                            {{ resultado_l_80 }}
                        {% endif %}
                    </td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">R1
                        <span class="tooltiptext">Raio da Câmara de Combustão</span>
                    </td>
                    <td>{{ resultado_r1 }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">RG
                        <span class="tooltiptext">Raio da Garganta</span>
                    </td>
                    <td>{{ resultado_rg }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">R2
                        <span class="tooltiptext">Raio da Saída do Bocal</span>
                    </td>
                    <td>{{ resultado_r2 }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">R3
                        <span class="tooltiptext">Raio da Saída da Câmara de Combustão</span>
                    </td>
                    <td>{{ resultado_r3 }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">R4
                        <span class="tooltiptext">Raio de Entrada da Garganta</span>
                    </td>
                    <td>{{ resultado_r4 }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">R5
                        <span class="tooltiptext">Raio de Saida da Garganta</span>
                    </td>
                    <td>{{ resultado_r5 }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">X°
                        <span class="tooltiptext">Ângulo de Entrada do Contorno de Sino</span>
                    </td>
                    <td>{{ resultado_angulo_x }}</td>
                    <td>[m]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">Y°
                        <span class="tooltiptext">Ângulo de Saída do Contorno de Sino</span>
                    </td>
                    <td>{{ resultado_angulo_y }}</td>
                    <td>[m]</td>
                </tr>
            </table>
        </div>
        <div class="div_resultado_combustao">
            <table class="tabela tabela_propelentes">
                <caption class="tabela_titulo">Propelentes</caption>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Composição</th>
                    <th>Estado</th>
                    <th>Qtd[kmol]</th>
                    <th>Massa Molar[kg/kmol]</th>
                </tr>
                <tr>
                    <td>Combustível</td>
                    <td>{{ resultado_comb_nome }}</td>
                    <td>{{ resultado_comb_composicao }}</td>
                    <td>{{ resultado_comb_estado }}</td>
                    <td>{{ resultado_comb_mols }}</td>
                    <td>{{ resultado_comb_massa_molar }}</td>
                </tr>
                <tr>
                    <td>Oxidante</td>
                    <td>{{ resultado_oxid_nome }}</td>
                    <td>{{ resultado_oxid_composicao }}</td>
                    <td>{{ resultado_oxid_estado }}</td>
                    <td>{{ resultado_oxid_mols }}</td>
                    <td>{{ resultado_oxid_massa_molar }}</td>
                </tr>
                <tr>
                    <td>Razão de Equivalência</td>
                    <td>{{ resultado_razao_equiv }}</td>
                </tr>
                <tr>
                    <td>Razão de Mistura O/C</td>
                    <td>{{ resultado_razao_mistura }}</td>
                </tr>
            </table>
            <table class="tabela tabela_produtos">
                <caption class="tabela_titulo">Produtos da Combustão</caption>
                <tr>
                    <td>Elemento</td>
                    {% for i in range(0, len) %}   
                        <td>{{ produtos_elementos[i][0] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Fracao Molar</td>
                    {% for i in range(0, len) %}   
                        <td>{{ produtos_elementos[i][1] }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div class="div_resultado_escoamento_compressivel">
            <table class="tabela_resultado_escoamento_compressivel">
                <caption class="tabela_titulo">Propriedades Termodinâmicas</caption>
                <tr>
                    <th>Propriedade</th>
                    <th>Ponto 1</th>
                    <th>Garganta</th>
                    <th>Ponto 2</th>
                    <th>Und</th>
                </tr>
                <tr>
                    <td>Temperatura</td>
                    <td>{{ resultado_t_1 }}</td>
                    <td>{{ resultado_t_g }}</td>
                    <td>{{ resultado_t_2 }}</td>
                    <td>[K]</td>
                </tr>
                <tr>
                    <td>Pressão</td>
                    <td>{{ resultado_p_1 }}</td>
                    <td>{{ resultado_p_g }}</td>
                    <td>{{ resultado_p_2 }}</td>
                    <td>[Pa]</td>
                </tr>
                <tr>
                    <td>Velocidade</td>
                    <td>{{ resultado_v_1 }}</td>
                    <td>{{ resultado_v_g }}</td>
                    <td>{{ resultado_v_2 }}</td>
                    <td>[m/s]</td>
                </tr>
                <tr>
                    <td>Velocidade do Som</td>
                    <td>{{ resultado_a_1 }}</td>
                    <td>{{ resultado_a_g }}</td>
                    <td>{{ resultado_a_2 }}</td>
                    <td>[m/s]</td>
                </tr>
                <tr>
                    <td>Múmero de Mach</td>
                    <td>{{ resultado_mach_1 }}</td>
                    <td>{{ resultado_mach_g }}</td>
                    <td>{{ resultado_mach_2 }}</td>
                    <td>[-]</td>
                </tr>
                <tr>
                    <td>Volume Específico</td>
                    <td>{{ resultado_vol_esp_1 }}</td>
                    <td>{{ resultado_vol_esp_g }}</td>
                    <td>{{ resultado_vol_esp_2 }}</td>
                    <td>[m³/kg]</td>
                </tr>
                <tr>
                    <td>Massa Especifica</td>
                    <td>{{ resultado_massa_esp_1 }}</td>
                    <td>{{ resultado_massa_esp_g }}</td>
                    <td>{{ resultado_massa_esp_2 }}</td>
                    <td>[kg/m³]</td>
                </tr>
            </table>
        </div>
        <div class="div_resultado_parametros_performance">
            <table class="tabela_resultado_parametros_performance">
                <caption class="tabela_titulo">Parâmetros de Performance</caption>
                <tr>
                    <th>Parâmetro</th>
                    <th>Valor</th>
                    <th>Und</th> 
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">E
                        <span class="tooltiptext">Razão de Expansão</span>
                    </td>
                    <td>{{ resultado_razao_expansao }}</td>
                    <td>[?]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">Cf
                        <span class="tooltiptext">Coeficiente de Empuxo</span>
                    </td>
                    <td>{{ resultado_coeficiente_empuxo }}</td>
                    <td>[-]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">Ec
                        <span class="tooltiptext">Razão de Contração</span>
                    </td>
                    <td>{{ resultado_razao_contracao }}</td>
                    <td>[?]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">m total
                        <span class="tooltiptext">Vazão Mássica Total dos Propelentes</span>
                    </td>
                    <td>{{ resultado_vazao_massica_total_propelentes }}</td>
                    <td>[kg/s]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">Is
                        <span class="tooltiptext">Impulso Específico</span>
                    </td>
                    <td>{{ resultado_impulso_especifico }}</td>
                    <td>[s]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">c
                        <span class="tooltiptext">Velocidade Efetiva de Exaustão</span>
                    </td>
                    <td>{{ resultado_velocidade_efetiva_exaustao }}</td>
                    <td>[m/s]</td>
                </tr>
                <tr class="tr_tooltip">
                    <td class="tooltip">c*
                        <span class="tooltiptext">Velocidade Característica</span>
                    </td>
                    <td>{{ resultado_velocidade_caracteristica }}</td>
                    <td>[m/s]</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="div_resultado_injetores">
        <div class="div_titulo_resultado">
            <h1 class="titulo_resultado">Injetores</h1>
        </div>
    </div>
</div>